{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-3 mb-4">
            <div class="col-md-4">
                <img src="https://th.bing.com/th/id/R.e067dcbcc8b4ced7577c614a67156551?rik=In0CfgcGsJvp%2bA&pid=ImgRaw&r=0" alt="{{ product.name }}" class="img-fluid" style="height: 233px; object-fit: cover">
            </div>
            <div class="col-md-8">
                <h1 style="font-size: 25px" class="mt-4 mt-md-0">{{ product.name }}</h1>
                <h2 style="color: #3582d5; font-size: 20px">{{ product.price }} €</h2>
  
                <b>Description: </b>{{ product.description }}
                {{ form_start(form, {'attr': {'class': 'mt-3'}}) }}
                <div class="form-group">
                    {{ form_label(form.quantity) }}
                    {{ form_widget(form.quantity, {
                        'attr': {
                            'class': 'form-control ' ~ (form.quantity.vars.valid ? '' : 'is-invalid') , 'style': 'width: 36%'
                        }
                    }) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.quantity) }}
                    </div>
                </div>
                {{ form_widget(form.add, {'attr': {'class': 'btn btn-warning w-25 text-white', 'style': 'background-color: #3582d5; border:none'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <style>
    
    </style>
{% endblock %}
